{% extends "template.html" %}
{% block main %}

Welcome Home
<br>
<br>

<form name="myList" action="/" method="GET">
<select id = "myList">
<option value = "_____init_____">_____init_____</option><br>
<option value = "HelloWorld">HelloWorld</option><br>
<option value = "this">this</option><br>
<option value = "monitor">monitor</option><br>
<option value = "_space separate_greg_">_space separate_greg_</option><br>
<option value = "hat">hat</option><br>
<option value = "try">try</option><br>
<option value = "test">test</option><br>
<option value = "ossystem">ossystem</option><br>
<option value = "import">import</option><br>
<option value = "82394jksadfkjwe">82394jksadfkjwe</option><br>
<option value = "def">def</option><br>
<option value = "controllers">controllers</option><br>
<option value = "return">return</option><br>
<option value = "Savage">Savage</option><br>
<option value = "print">print</option><br>
<option value = "html">html</option><br>
<option value = "HEllo">HEllo</option><br>
<option value = "echo">echo</option><br>
<option value = "from">from</option><br>
<option value = "greg">greg</option><br>
<option value = "amazon">amazon</option><br>
<option value = "NYJets">NYJets</option><br>
<option value = "controller">controller</option><br>
<option value = "format">format</option><br>
<option value = "python3">python3</option><br>
<option value = "runsh">runsh</option><br>
<option value = "23">23</option><br>
<option value = "flask">flask</option><br>
<option value = "run">run</option><br>
<option value = "core">core</option><br>
<option value = "except">except</option><br>
</select>
<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>

{% endblock main %}

